.current-weather-stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0.5;
}

.current-weather-items-container {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.5rem;
}
