@media (min-width: 769px) {
  .horizontal-home-container {
    display: flex;
    justify-content: space-between;
  }

  .current-weather-home-container {
    display: flex;
    flex: 1;
    justify-content: center;
  }
}
