.forecast-condition-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.forecast-condition-container img {
  width: 20%;
}

.daily-forecast-container {
  display: flex;
  max-width: 100%;
  flex: 1;
  overflow-x: auto;
  margin: 0.5rem;
}
