.forecast-stat-container {
  display: flex;
  align-items: center;
  min-width: 100px;
  max-width: 100%;
}

.forecast-stat-container img {
  width: 20%;
}

.daily-forecast-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  max-width: 100%;
  overflow-x: auto;
  gap: 0.1rem;
}
