.current-weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0.5;
}

.current-weather-container p {
  margin: 0.5rem;
}

.current-temperature {
  font-size: 2.5rem;
  margin: 0.1rem;
}

.current-weather-window {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  padding: 2.5rem;
  background: rgba(255, 255, 255, 0.8);
}

.clear {
  background-color: var(--yellow);
  border: solid 0.3vw var(--orange);
}

.thunderstorm {
  background-color: var(--purple);
  border: solid 0.3vw var(--darkPurple);
  color: white;
}

.rain {
  background-color: var(--blue);
  border: solid 0.3vw var(--mediumBlue);
}

.snow {
  background-color: var(--white);
  border: solid 0.3vw var(--purple);
}

.clouds {
  background: var(--palePink);
  border: solid 0.3vw var(--pink);
}

.atmosphere {
  background: var(--brightGreen);
  border: solid 0.3vw var(--mediumBlue);
}
