.current-temperature {
  font-size: 4rem;
  margin: 0;
}

.current-weather-container {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  align-items: center;
  max-width: 100%;
  padding: 1rem;
  margin: 0.5rem;
  flex: 1;
}

.current-weather-window {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  padding: 3%;
  background: rgba(255, 255, 255, 0.25);
}

.widgets-container {
  margin: 1%;
  display: flex;
  width: 90%;
}

.weather-icon {
  width: 20px;
}

.widget {
  min-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  box-shadow: 0 2px 2px 0 rgba(31, 38, 135, 0.37);
  margin: 1%;
  padding: 2%;
}

.widget p {
  margin: 1%;
}

.widget img {
  margin: 5%;
}

.clear {
  background-color: var(--yellow);
  border: solid 0.3vw var(--orange);
}

.thunderstorm {
  background-color: var(--purple);
  border: solid 0.3vw var(--darkPurple);
  color: white;
}

.rain {
  background-color: var(--blue);
  border: solid 0.3vw var(--mediumBlue);
}

.snow {
  background-color: var(--white);
  border: solid 0.3vw var(--purple);
}

.clouds {
  background: var(--palePink);
  border: solid 0.3vw var(--pink);
}

.atmosphere {
  background: var(--brightGreen);
  border: solid 0.3vw var(--mediumBlue);
}

@media (max-width: 768px) {
  .current-weather-container {
    flex: 1 1 100%;
  }
}
