.search-container {
  display: flex;
  min-width: 40%;
  margin: 0.2rem;
  position: relative;
}

.searchbar {
  background-color: var(--paleBlue);
  border: solid 0.1vw var(--cardBorder);
  color: var(--darkPurple);
  box-sizing: border-box;
  border-radius: 12px 0 0 12px;
  width: 100%;
}

.search-button {
  display: inline-flex;
  background-color: var(--nav);
  color: var(--white);
  border-radius: 0 12px 12px 0;
  aspect-ratio: 1 / 1;
  border-left: none;
}

.search-button img {
  width: 1rem;
}

.suggestions-list {
  position: absolute;
  top: 100%; /* Positions it below the input */
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
  list-style: none;
  margin: 0;
  padding: 0;
}

.suggestions-list li {
  padding: 8px 12px;
  cursor: pointer;
  background-color: red;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}
