.search-container {
  display: flex;
  min-width: 40%;
  margin: 0.2rem;
}

.searchbar {
  background-color: var(--frostedItems);
  border: solid 0.1vw var(--mediumBlue);
  color: var(--text);
  box-sizing: border-box;
  border-radius: 12px 0 0 12px;
  width: 100%;
}

.search-button {
  background-color: var(--frostedItems);
  border: solid 0.1vw var(--mediumBlue);
  color: var(--text);
  border-radius: 0 12px 12px 0;
  aspect-ratio: 1 / 1;
  border-left: none;
}

.searchbar:focus {
  outline: 0.1vw solid var(--darkPurple);
}

.search-button:focus {
  outline: none;
}
