.search-container {
  display: flex;
  min-width: 40%;
  margin: 0.2rem;
}

.searchbar {
  background-color: var(--paleBlue);
  border: solid 0.1vw var(--cardBorder);
  color: var(--darkPurple);
  box-sizing: border-box;
  border-radius: 12px 0 0 12px;
  width: 100%;
}

.search-button {
  display: inline-flex;
  background-color: var(--nav);
  color: var(--white);
  border-radius: 0 12px 12px 0;
  aspect-ratio: 1 / 1;
  border-left: none;
}

.searchbar:focus {
  outline: 0.1vw solid var(--darkPurple);
}

.search-button:focus {
  outline: none;
}

.search-button img {
  width: 1rem;
}
