.navbar {
  background: var(--navTwo);
  margin: 0.4rem;
  border-radius: 16px;
  border: solid 0.1vw var(--paleBlue);
  display: flex;
  justify-content: space-between;
}

.nav-button-group {
  display: flex;
  min-width: 40%;
  justify-content: space-evenly;
}

.nav-button {
  background: transparent;
  color: var(--white);
  border: none;
  border-radius: 16px 16px 0px 0px;
}

.nav-button:hover {
  background-color: var(--paleBlue);
  color: var(--text);
  border: none;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
}
