.title-day-widgets-container {
  background-color: var(--yellow);
  border: solid 0.3vw var(--orange);
  border-radius: 12px;
  max-width: 100%;
  padding: 1rem;
  margin: 0.5rem;
  flex: 1;
}

.day-widgets-container {
  display: flex;
  justify-content: space-evenly;
  overflow-x: auto;
}

.day-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  box-shadow: 0 2px 2px 0 rgba(31, 38, 135, 0.37);
  margin: 1%;
  padding: 1%;
  flex: 1;
}

.day-widget p {
  margin: 1%;
}
