:root {
  --background: #e3f2fd;
  --white: #f0edee;
  --paleBlue: #e3f2fd;
  --darkPurple: #472b29;
  --nav: #004e92;
}

#root {
  margin: 0 auto;
  line-height: 1.2;
  height: 100%;
  width: 100%;
}

.light-mode {
  --cardBackground: #bbdefb;
  --cardBorder: #78a0cf;
  --frostedItems: rgba(227, 242, 253, 0.8);
  --text: #472b29;
}
.dark-mode {
  --cardBackground: #004e92;
  --cardBorder: #1e2a47;
  --frostedItems: rgba(120, 160, 207, 0.3);
  --text: #f0edee;
}

body {
  background-color: var(--background);
  font-family: "Poppins", "Quicksand", sans-serif;
}

a {
  all: unset;
}

.no-margin {
  margin: 0;
}

.page-container {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0.4rem;
  text-align: center;
}

.main-container {
  border-radius: 12px;
  background-color: var(--cardBackground);
  border: solid 0.1vw var(--cardBorder);
  color: var(--text);
  padding: 0.4rem;
  margin: 0.4rem;
}

.frosted-item {
  border-radius: 12px;
  background: var(--frostedItems);
  box-shadow: 0 4px 4px rgba(30, 30, 130, 0.3);
}

.frosted-item p {
  margin: 0.1rem;
  white-space: nowrap;
  text-align: center;
  width: 100%;
}
