:root {
  --background: #e3f2fd;
  --white: #f0edee;
  --paleBlue: #e3f2fd;
  --darkPurple: #472b29;
  --nav: #004e92;
}

.light-mode {
  --cardBackground: #bbdefb;
  --cardBorder: #78a0cf;
  --frostedItems: rgba(227, 242, 253, 0.8);
  --text: #472b29;
}
.dark-mode {
  --cardBackground: #004e92;
  --cardBorder: #1e2a47;
  --frostedItems: rgba(120, 160, 207, 0.3);
  --text: #f0edee;
}

#root {
  margin: 0 auto;
  line-height: 1.2;
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--background);
  font-family: "Poppins", "Quicksand", sans-serif;
}

.no-margin {
  margin: 0;
}

a {
  all: unset;
}
