:root {
  --background: #e3f2fd;
  --cardBackground: #bbdefb;
  --cardBorder: #78a0cf;
  --frostedItems: rgba(227, 242, 253, 0.8);
  --text: #472b29;
  --white: #f0edee;
  --blue: #bbdefb;
  --paleBlue: #e3f2fd;
  --blueGrey: #deecf9;
  --mediumBlue: #78a0cf;
  --gold: #a38977;
  --brightGreen: #80ddd0;
  --anotherGreen: #baf48a;
  --yellow: #ffc400;
  --orange: #f8b37c;
  --darkOrange: #ff7c3b;
  --brown: #ab5258;
  --purple: #888ab9;
  --darkPurple: #472b29;
  --palePink: #f9e4ff;
  --pink: #ffdcf7;
  --darkPink: #c9b6cf;
  --grey: #adb8ca;
}

#root {
  margin: 0 auto;

  height: 100%;
  width: 100%;
}

body {
  background-color: var(--background);
  font-family: "Poppins", "Quicksand", sans-serif;
}

.no-margin {
  margin: 0;
}
